$black: #2b2a2a;
$white: #dbd4d5;
$light: #57f7cb;
$green: #2eeaaf;
$dark: #29d69e;
$blue: #479dff;
$shadow: inset -2px -2px 25px $black;

@mixin modal {
  padding: 25px;
  background-color: $white;
  border-radius: 4.5px;
  box-shadow: $shadow;
  position: fixed;
  width: 50%;
  height: 50%;
  top: 5%;
  left: 25%;
}

@mixin input {
  padding: 5px;
  border-radius: 4.5px;
}

@keyframes fadeIn {
  from {
    opacity: 0%;
  }

  25% {
    opacity: 25%;
  }

  50% {
    opacity: 50%;
    transform: scale(1.2);
  }

  75% {
    opacity: 75;
    transform: scale(1);
  }

  to {
    opacity: 100%;
  }
}

body {
  color: $white;
}

#top {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

#container {
  background-color: $black;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, minmax(50px, auto));
  height: 100%;
}

header {
  background-color: $white;
  padding: 30px;
  box-shadow: $shadow;
  border-radius: 4.5px;
  grid-column: 1/6;
  grid-row: 1/2;
  #logout {
    float: right;
  }
}

aside {
  background-color: $white;
  color: $black;
  padding: 30px;
  box-shadow: $shadow;
  border-radius: 4.5px;
  grid-column: 1/2;
  grid-row: 2/6;
  .form-head {
    color: $black;
    font: {
      weight: bold;
      size: 17px;
    }
    margin-bottom: 10px;
  }
}

main {
  grid-column: 2/6;
  grid-row: 2/6;
  padding: 10px;
}

#anime-result {
  padding: 25px;
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(3, minmax(50px, 200px));
  grid-template-rows: repeat(3, minmax(0px, 200px));
  margin: 0px auto;
}

.anime-data {
  .anime-pic {
    max-height: 70%;
    max-width: 100%;
  }

  #pic {
    max-height: 90%;
    max-width: 100%;
  }
}

.ani-pic {
  height: 100%;
  width: 100%;
}

.anime-title {
  margin: 0px auto;
}

input {
  @include input();
}

input:focus {
  outline: solid 2.3px $blue;
}

#anime {
  width: 90%;
  margin: 0px auto;
  transition: width 550ms;
}

.anime {
  animation: fadeIn 600ms linear 0s 1;
}

.anime-data {
  @include modal();
  display: grid;
  grid-template-columns: repeat(2, minmax(50px, auto));
  grid-template-rows: repeat(2, minmax(5px, auto));
  color: $black;
  overflow: initial;
  .data-item {
    display: block;
    margin: 5px 10px;
  }
  .label {
    font: {
      weight: bold;
      size: 15px;
    }
  }
  .title {
    font: {
      size: 20px;
      weight: bolder;
    }
    text: {
      align: left;
    }
  }
  form {
    float: right;
    position: relative;
    margin: 10px;
  }
}

.form-control {
  margin: 15px 0px;
}

@media only screen and (min-width: 348px) and (max-width: 736px) {
  #container {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, minmax(10px, auto));
  }

  aside {
    display: none;
  }

  main {
    grid-column: 1/6;
  }
  #anime-result {
    gap: 10px;
  }
  #anime {
    width: 80%;
  }
  .anime-title {
    display: none;
  }

  .anime-data {
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(5px, auto));

    #pic {
      margin-left: 25%;
    }

    .close {
      float: right;
    }
    .title {
      font-size: inherit;
    }
  }
}
