$black: #2b2a2a;
$white: #dbd4d5;
$light: #57F7CB;
$green: #2eeaaf;
$dark: #29D69E;
$blue: #479dff;
$shadow: inset -2px -2px 25px $black;

@mixin modal {
    padding: 25px;
    background-color: $white;
    border-radius: 4.5px;
    box-shadow: $shadow;
    position: absolute;
    display: none;
    top: 5%;
    left: 40%;
}

@mixin input {
    padding: 5px;
    border-radius: 4.5px;
}

body{
    background-color: $black;
}

header{
    background-color: $white;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2,1fr);
    padding: 30px;
    box-shadow: $shadow;
    border-radius: 4.5px;
    #header-btn{
        margin: 10px 0px 10px 350px;
        .btn{
            margin: 7px;
        }
    }
}

main{
    background-color: $white;
    box-shadow: $shadow;
    padding: 50px;
    margin: 25px;
    border-radius: 4.5px;
    #summary{
        line-height: 40.5px;
    }
}

#login-modal, #register-modal {
    @include modal
}

#register-modal{
    .name{
        display: inline-block;
    }
}

.form-head{
    color: $black;
    font: {
        weight: bold;
        size: 17px;
    }
    margin-bottom: 10px;
}

input{
    @include input()
}

input:focus{
    outline: solid 2.3px $blue;
}

.form-control{
    margin: 25px;
}